@keyframes ballBounce {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-35px);
    }
    40%{
        transform: translateY(0);
    }
}

@keyframes fade {
    100%{
        opacity: 0;
    }
}